<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="link.ideas.easya">

    <uses-permission android:name="android.permission.AUTHENTICATE_ACCOUNTS" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.GET_TASKS" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:replace="android:supportsRtl">
        <activity
            android:name=".ui.course_list.CoursesList"
            android:label="@string/app_name"
            android:launchMode="singleTask"
            android:theme="@style/AppTheme.Home">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.lesson_list.LessonList"
            android:launchMode="singleTask"
            android:parentActivityName=".ui.course_list.CoursesList"
            android:theme="@style/AppTheme.Translucent.Lesson" />
        <activity
            android:name=".ui.lesson_detail.LessonDetail"
            android:launchMode="singleTask"
            android:theme="@style/AppTheme.Translucent.Detail" />
        <activity
            android:name=".ui.add_friend.AddFriendActivity"
            android:label="@string/add_friends"
            android:launchMode="singleTask"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ui.image_search.ImagesSearch"
            android:parentActivityName=".ui.add_lesson.AddNewLesson"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.app.searchable"
                android:resource="@xml/searchable" />
        </activity>
        <activity
            android:name=".ui.add_lesson.AddNewLesson"
            android:launchMode="singleTask"
            android:parentActivityName=".ui.lesson_list.LessonList" />
        <activity
            android:name=".ui.profile.ProfileActivity"
            android:launchMode="singleTask"
            android:parentActivityName=".ui.course_list.CoursesList" />
        <activity
            android:name=".ui.friends_list.FriendsList"
            android:launchMode="singleTask"
            android:parentActivityName=".ui.profile.ProfileActivity" />
        <activity
            android:name=".ui.friend_couse_list.CourseListFriends"
            android:launchMode="singleTask"
            android:theme="@style/AppTheme.Home" />

        <activity
            android:name=".ui.friend_lesson_list.LessonListFriends"
            android:launchMode="singleTask"
            android:theme="@style/AppTheme.Translucent.Lesson" />

        <activity
            android:name=".ui.friend_lesson_detail.LessonDetailFriend"
            android:launchMode="singleTask"
            android:parentActivityName=".ui.friend_lesson_list.LessonListFriends"
            android:theme="@style/AppTheme.Translucent.Detail" />

        <activity
            android:name=".ui.help.HelpActivity"
            android:launchMode="singleTask"
            android:theme="@style/AppTheme" />
        <!-- Detail Widget -->
        <receiver
            android:name=".widget.DetailWidgetProvider"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
                <action android:name="com.sam_chordas.android.stockhawk.ACTION_DATA_UPDATED" />
            </intent-filter>

            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/widget_info_detail" />
        </receiver>

        <service
            android:name=".widget.DetailWidgetRemoteViewsService"
            android:enabled="true"
            android:exported="false"
            android:permission="android.permission.BIND_REMOTEVIEWS" />

        <provider
            android:name=".data.CourseProvider"
            android:authorities="@string/content_authority"
            android:exported="false"
            android:syncable="true" />

        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />


    </application>

</manifest>